.category_page_sections {
	background-color: #ffff;

	.container {
		display: flex;
		gap: 21px;
		padding: 134px 100px 172px 100px;

		.filters_container{
			max-height: 1300px;
			padding: 20px 24px;
			border-radius: 20px;
			border: 1px solid rgba(0, 0, 0, 0.10);
		}

		.filters {
			width: 295px;
			height: auto;


			.title_filters {
				display: flex;
				justify-content: space-between;
				align-items: center;

				.title_filters_text {
					color: #000;
					font-family: 'Satoshi', sans-serif;
					font-size: 20px;
					font-style: normal;
					font-weight: 700;
					line-height: normal;
				}

				.title_filters_button {
					.icon-button {
						background-color: transparent;
						border: none;
						border-radius: 50%;
						display: flex;
						justify-content: center;
						align-items: center;
						cursor: pointer;

					}
				}
			}

			hr {
				border: none;
				height: 1px;
				background-color: #e0e0e0;
				margin: 24px 0;
			}

			.items_filters {
				display: grid;
				gap: 20px;

				.items_filters_name {
					display: flex;
					justify-content: space-between;
					align-items: center;

					.items_name {
						color: rgba(0, 0, 0, 0.60);
						leading-trim: both;
						text-edge: cap;
						font-family: 'Satoshi', sans-serif;
						font-size: 16px;
						font-style: normal;
						font-weight: 400;
						line-height: normal;
					}

					.items_button {
						background-color: transparent;
						border: none;
						border-radius: 50%;
						display: flex;
						justify-content: center;
						align-items: center;
						cursor: pointer;
					}
				}
			}

			.price_filters {
				.price_filters_title {
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin-bottom: 20px;

					.title_text {
						color: #000;
						font-family: 'Satoshi', sans-serif;
						font-size: 20px;
						font-style: normal;
						font-weight: 700;
						line-height: normal;
					}

					.items_button {
						background-color: transparent;
						border: none;
						border-radius: 50%;
						display: flex;
						justify-content: center;
						align-items: center;
						cursor: pointer;
					}
				}

				.slider-track {
					align-items: center;

					.price_tax {
						display: flex;
						justify-content: space-around;
						gap: 50px;

						.price {
							color: #000;
							text-align: center;
							font-family: 'Satoshi', sans-serif;
							font-size: 14px;
							font-style: normal;
							font-weight: 500;
							line-height: normal;
						}
					}
				}

			}

			.color_filters {
				.color_filters_title {
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin-bottom: 20px;

					.title_text {
						color: #000;
						font-family: 'Satoshi', sans-serif;
						font-size: 20px;
						font-style: normal;
						font-weight: 700;
						line-height: normal;
					}

					.items_button {
						background-color: transparent;
						border: none;
						border-radius: 50%;
						display: flex;
						justify-content: center;
						align-items: center;
						cursor: pointer;
					}

					.filter_svg {
						transition: transform 0.3s ease;
					}
					.filter_svg.active {
						transform: rotate(180deg);
					}
				}

				.ellipse_color {
					max-height: 0;
					overflow: hidden;
					transition: max-height 0.3s ease;
				}


					.ellipse_color.active {
						max-height: 105px; // або більше, залежно від вмісту
					}




				.ellipse_color {
					display: grid; /* Робить контейнер grid-контейнером */
					grid-template-columns: repeat(5, 1fr); /* Створює 5 стовпців однакової ширини */
					grid-template-rows: repeat(2, auto);
					gap: 13.5px;
					row-gap: 16px; /* Відступ між рядками */
				}
			}

			.size_filters {
				.size_filters_title {
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin-bottom: 20px;

					.title_text {
						color: #000;
						font-family: 'Satoshi', sans-serif;
						font-size: 20px;
						font-style: normal;
						font-weight: 700;
						line-height: normal;
					}

					.items_button {
						background-color: transparent;
						border: none;
						border-radius: 50%;
						display: flex;
						justify-content: center;
						align-items: center;
						cursor: pointer;
					}
				}

				.size-selector {
					display: grid;
					grid-auto-flow: column; // Переходить вниз по рядках, потім у наступну колонку
					grid-template-rows: repeat(5, auto); // 5 рядків
					gap: 8px;

					.sub_size_selector {
						display: flex;
						gap: 8px;
					}

					button {
						padding: 10px 20px;
						border: none;
						border-radius: 62px; // Повністю заокруглені
						background-color: #f1f1f1;
						color: rgba(0, 0, 0, 0.60);
						font-family: 'Satoshi', sans-serif;
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: normal;
						cursor: pointer;
						transition: background-color 0.2s ease, color 0.2s ease;

						&.active {
							background-color: black;
							color: white;
						}

						&:hover:not(.active) {
							background-color: #e0e0e0;
						}
					}
				}

				.button_end {
					padding: 10px 20px;
					border: none;
					border-radius: 62px; // Повністю заокруглені
					background-color: #f1f1f1;
					color: rgba(0, 0, 0, 0.60);
					font-family: 'Satoshi', sans-serif;
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
					cursor: pointer;
					transition: background-color 0.2s ease, color 0.2s ease;

					&.active {
						background-color: black;
						color: white;
					}

					&:hover:not(.active) {
						background-color: #e0e0e0;
					}
				}


			}

			.dress_style {
				.dress_filters_title {
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin-bottom: 20px;

					.title_text {
						color: #000;
						font-family: 'Satoshi', sans-serif;
						font-size: 20px;
						font-style: normal;
						font-weight: 700;
						line-height: normal;
					}

					.items_button {
						background-color: transparent;
						border: none;
						border-radius: 50%;
						display: flex;
						justify-content: center;
						align-items: center;
						cursor: pointer;
					}
				}

				.dress_items_filters {
					display: grid;
					gap: 20px;

					.items_filters_name {
						display: flex;
						justify-content: space-between;
						align-items: center;

						.items_name {
							color: rgba(0, 0, 0, 0.60);
							leading-trim: both;
							text-edge: cap;
							font-family: 'Satoshi', sans-serif;
							font-size: 16px;
							font-style: normal;
							font-weight: 400;
							line-height: normal;
						}

						.items_button {
							background-color: transparent;
							border: none;
							border-radius: 50%;
							display: flex;
							justify-content: center;
							align-items: center;
							cursor: pointer;
						}
					}
				}

				.button_apply_filter {
					text-align: center;
					margin: 24px 0 0 0;

					.apply_filter {
						background-color: #000000;
						color: #ffffff;
						padding: 16px 85px;
						border-radius: 62px;
						border: 1px solid rgba(0, 0, 0, .1);
						cursor: pointer;
						transition: background-color .3s;
						font-family: "Satoshi", sans-serif;
						font-size: 14px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
					}
				}
			}
		}

		.items_show {
			width: 100%;

			.title_items {
				display: flex;
				justify-content: space-between;
				margin-bottom: 15px;

				.title_text {
					color: #000;
					font-family: 'Satoshi', sans-serif;
					font-size: 32px;
					font-style: normal;
					font-weight: 700;
					line-height: normal;
				}

				.title_sub_info {
					display: flex;
					gap: 12px;
					align-items: center;

					.title_sub_text {
						color: rgba(0, 0, 0, 0.60);
						leading-trim: both;
						text-edge: cap;
						font-family: 'Satoshi', sans-serif;
						font-size: 16px;
						font-style: normal;
						font-weight: 400;
						line-height: normal;


						.title_sub_text.bold {
							color: #000;
							leading-trim: both;
							text-edge: cap;
							font-family: 'Satoshi', sans-serif;
							font-size: 16px;
							font-style: normal;
							font-weight: 500;
							line-height: normal;
						}

					}

					.title_sub_text.sort {
						display: flex;
						gap: 5px;
					}
				}
			}

			.arrivals_items_casual {
				display: grid;
				gap: 35px;
				margin-bottom: 32px;

				.arrivals_items_block {
					display: flex;
					gap: 20px;
				}

				.arrivals_items {
					width: 34%;

					a {
						display: block; // Якщо треба


						.image {
							width: 100%;
							height: 100%;
							object-fit: cover; // або contain в залежності від бажаного ефекту
							display: block;
							border-radius: 2rem;
						}
					}

					.items_info {
						padding-top: 16px;
						display: grid;
						gap: 8.26px;

						.info_text {
							color: #000;
							font-family: 'Satoshi', sans-serif;
							font-size: 20px;
							font-style: normal;
							font-weight: 700;
							line-height: normal;
						}

						.rating {
							display: flex;
							align-items: center;
							gap: 5.31px;

							.star {
								width: 20px;
								height: 20px;
								color: #facc15; // Яскраво-жовтий (як на скріншоті)

								&.half {
									// Можна додати інші стилі, якщо потрібно відрізняти
								}
							}

							.rating-text {
								color: #000;
								font-family: 'Satoshi', sans-serif;
								font-size: 14px;
								font-style: normal;
								font-weight: 400;
								line-height: normal;
							}
						}

						.info_tax {
							color: #000;
							font-family: 'Satoshi', sans-serif;
							font-size: 24px;
							font-style: normal;
							font-weight: 700;
							line-height: normal;
						}

					}
				}
			}

			hr {
				border: none;
				height: 1px;
				background-color: #e0e0e0;
				margin: 34px 0 20px;
			}

			.pagination {
				display: flex;
				justify-content: space-between;
				gap: 216px;
				align-items: center;

				.nav-btn {
					display: inline-flex;
					justify-content: center;
					align-items: center;
					padding: 8px 14px;
					border: 1px solid #ddd;
					border-radius: 8px;
					background-color: white;
					cursor: pointer;
					transition: background 0.2s;
					color: #000;
					font-family: 'Satoshi', sans-serif;
					font-size: 14px;
					font-weight: 500;
					line-height: 20px;
					gap: 8px; // додає простір між svg та текстом

					svg {
						display: block;
						width: 16px;
						height: 16px;
					}

					.arrow, .button_text {
						display: flex;
						align-items: center;
					}


				&:hover {
						background-color: #f2f2f2;
					}

					.arrow {
						margin: 0 4px;
						font-size: 16px;
					}
				}

				.pages {
					display: flex;
					gap: 8px;
					align-items: center;

					.page {

						width: 40px;
						padding: 12px;
						border: none;
						border-radius: 6px;
						background-color: white;
						color: #444;

						color: rgba(0, 0, 0, 0.50);
						text-align: center;
						font-family: 'Satoshi' , sans-serif;						font-size: 14px;
						font-style: normal;
						font-weight: 500;
						line-height: 20px; /* 142.857% */
						cursor: pointer;
						transition: background 0.2s;

						&:hover {
							background-color: #f2f2f2;
						}

						&.active {
							background-color: #f1f1f1;
							cursor: default;
							color: #000;
						}
					}

					.dots {
						padding: 0 6px;
						color: #999;
						font-size: 14px;
					}
				}
			}


		}
	}
}
