.footer {
	background: #F0F0F0;

	hr {
		border: none; /* Прибирає стандартну рамку браузера */
		height: 1px; /* Задає товщину лінії */
		background-color: #e0e0e0; /* Задає колір лінії (світло-сірий, як на скріншоті) */
		margin: 0 100px; /* Задає вертикальні відступи зверху та знизу лінії */
	}

	.footer-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 100%;
		overflow: hidden;
		height: auto;
		padding: 140px 100px 50px 100px;
		gap: 100px;

		.footer-text {
			display: grid;
			gap: 25px;

			h2 {
				color: #000;
				leading-trim: both;
				text-edge: cap;
				font-family: 'Integral CF', sans-serif;
				font-size: 33.455px;
				font-style: normal;
				font-weight: 1000;
				line-height: normal;
			}

			p {
				color: rgba(0, 0, 0, 0.60);
				font-family: 'Satoshi', sans-serif;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 22px; /* 157.143% */
				max-width: 60%;
			}

			.break {
				display: inline;
			}

			.footer_svg {
				margin-top: 10px;
			}
		}

		.footer_svg{
			.svg_img svg {
				display: block;
				margin-left: 0; /* вирівнювання по лівому краю */
			}
		}

		.column_container {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			width: 100%;
			gap: 20px;
		}

		.footer-column {
			h3 {
				color: #000;
				font-family: 'Satoshi', sans-serif;
				font-size: 16px;
				font-style: normal;
				font-weight: 500;
				line-height: 18px; /* 112.5% */
				letter-spacing: 3px;
				text-transform: uppercase;
				margin-bottom: 26px;
			}

			ul {

				list-style: none;
				padding: 0;
				margin: 0;
			}

			li {
				margin-bottom: 20px;
			}

			a {
				color: rgba(0, 0, 0, 0.60);
				font-family: 'Satoshi', sans-serif;
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: 19px; /* 118.75% */
				transition: color 0.3s ease;
				text-decoration: none;

				&:hover {
					color: #262626;

				}
			}
		}


		.footer-subscribe {
			max-width: 400px; /* Обмежуємо ширину */

			h3 {
				font-size: 18px;
				color: #333;
				margin-bottom: 10px;
			}

			p {
				font-size: 15px;
				color: #000000;
				font-family: 'Satoshi', sans-serif;
				margin-bottom: 40px;
				margin-top: 40px;
			}

			form {
				display: flex;
				gap: 10px;
			}

			input[type="email"] {
				flex: 1; /* Розтягує input */
				padding: 10px;
				font-size: 14px;
				border: 1px solid #ccc;
				border-radius: 5px;
				outline: none;

				&:focus {
					border-color: #000;
				}
			}

			button {
				background-color: transparent; /* Прозорий фон */
				color: #000000; /* Білий колір тексту */
				border: 1px solid #000000; /* Тонка біла рамка */
				padding: 20px 19px; /* Відступи всередині кнопки */
				font-size: 14px; /* Розмір тексту */
				font-family: 'Integral CF', sans-serif;
				text-transform: uppercase; /* Текст великими літерами */
				letter-spacing: 1px; /* Простір між літерами */
				cursor: pointer; /* Курсор для кнопки */
				transition: all 0.3s ease; /* Плавні переходи для стилів при наведенні */
				background-color: rgba(255, 255, 255, 0.1); /* Напівпрозорий білий фон */
				position: relative;
				z-index: 7;
			}

			:hover {
				background-color: rgba(255, 255, 255, 0.3); /* Змінюємо фон при наведенні */
				color: #505050; /* Залишаємо білий текст */
			}
		}
	}

	.footer_tm {
		display: flex;
		justify-content: space-between;
		padding: 20px 100px 81px 100px;

		.footer_tm_text {
			color: rgba(0, 0, 0, 0.60);
			text-align: right;
			font-family: 'Satoshi', sans-serif;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}

		.footer_pay {
			display: flex;
			gap: 12px;
		}
	}
}


@media (max-width: 768px) {
	.footer {
		.footer-container {
			display: grid;
			padding: 190px 17px 40px 17px !important;
			gap: 24px;
			justify-content: normal;

			.footer-text {
				gap: 14px !important;

				h2 {
					font-size: 28.847px;
				}

				p {
					max-width: 50% !important;
				}
			}
			.footer_svg{
				.icon {
					width: 40px;
					height: 40px;
					border-radius: 50%;
					border: 1px solid #ccc;
					display: inline-flex;
					align-items: center;
					justify-content: center;
					margin: 5px;
					background-color: white;
				}

				.icon--facebook {
					background-color: black;
					border-color: black;
				}

				.icon svg {
					width: 20px;
					height: 20px;
					fill: black;
				}

				.icon--facebook svg {
					fill: white;
				}
			}

			.column_container {
				display: grid;
				grid-template-columns: repeat(2, 1fr); /* Створює два стовпці однакової ширини */
				column-gap: 24px;

				.footer-column {

				}
			}
		}

		hr {
			margin: 0 16px !important;
		}

		.footer_tm {
			flex-direction: column;
			align-items: center;
			padding: 16px 61px 77px 61px;
			gap: 16px;
		}
	}
}





