.header {
	background-color: $white;

	.container {
	padding: 24px 100px;
		.header_inner{
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 40px;
			.header_left{
				display: flex;
				align-items: center;
				.header_logo{
					color: #000;
					leading-trim: both;
					text-edge: cap;
					font-family: 'Integral CF', sans-serif;
					font-size: 32px;
					font-style: normal;
					font-weight: 1000;
					line-height: normal;
				}
				.nav{
					padding: 0 40px;
					.nav_list{
						display: flex;
						align-items: center;
						gap: 24px;
							.nav_link{
								color: #000;
								font-family: 'Satoshi' , sans-serif;
								font-size: 16px;
								font-style: normal;
								font-weight: 400;
								line-height: normal;
								text-decoration: none;
							}

					}
				}
			}
			.header_right{
				display: flex;
				align-items: center;
				.search-bar{
					display: flex;
					align-items: center;
					background-color: #f0f0f0;
					border-radius: 9999px; /* максимально круглі краї */
					height: auto;
					gap: 12px;
					width: 577px; /* можна налаштувати */
					box-sizing: border-box;
					margin-right: 40px;
					padding: 12px 16px;
					.search-icon{
						display: flex;
						align-items: flex-end; /* вирівнює по нижньому краю */
						justify-content: center; /* центрує по горизонталі */
						height: 100%;
						font-size: 18px;
						color: #999; /* сірий колір іконки */
					}
				}
				.search-bar input {
					border: none;
					background: transparent;
					outline: none;
					width: 100%;
					font-size: 16px;
					color: #333;
				}
				.social_item{
					display: flex;
					gap: 14px;
				}
			}
		}
	}
}
