.main {
	background-color: $white;
	padding-top: 64px;

	.container {

		.main_banner {
			background-image: url('../../img/main_banner.png');
			background-size: cover; /* щоб картинка розтягувалась пропорційно */
			background-position: center; /* щоб була по центру */
			background-repeat: no-repeat; /* щоб не повторювалася */
			position: relative;
			height: 100%;
			width: auto;

			.title {
				position: relative;
				padding: 103px 0 0 100px;
				display: flex;
				flex-direction: column;
				gap: 32px;

				.title_text {
					color: #000;
					font-family: 'Integral CF', sans-serif;
					font-size: 64px;
					font-style: normal;
					font-weight: 1000;
					line-height: 64px; /* 100% */
				}

				.sub_title {
					color: rgba(0, 0, 0, 0.60);
					font-family: 'Satoshi', sans-serif;
					font-size: 16px;
					font-style: normal;
					font-weight: 400;
					line-height: 22px; /* 137.5% */
				}
			}

			.stats-section {
				position: relative;
				text-align: left;
				padding: 32px 0 0 100px;


				.shop-now {
					background-color: #000;
					color: #fff;
					padding: 16px 54px;
					border: none;
					border-radius: 5rem;

					margin-bottom: 48px;
					cursor: pointer;
					transition: background-color 0.3s;
					font-family: 'Satoshi', sans-serif;
					font-size: 16px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;

					&:hover {
						background-color: #333;
					}
				}

				.stats {
					display: flex;
					justify-content: start;
					gap: 64px;

					.stat-item-left {
						display: flex;
						gap: 64px;
					}
				}

				.stat-item {
					h3 {
						color: #000;
						font-family: 'Satoshi', sans-serif;
						font-size: 40px;
						font-style: normal;
						font-weight: 700;
						line-height: normal;
						position: relative;
						display: inline-block;

					}

					p {
						color: rgba(0, 0, 0, 0.60);
						font-family: 'Satoshi', sans-serif;
						font-size: 16px;
						font-style: normal;
						font-weight: 400;
						line-height: 22px; /* 137.5% */
						margin-top: 0;
					}
				}
			}

			.media_image {
				display: none;
			}

			.brands_menu {
				height: auto;
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				background-color: black;
				margin-top: 93px;
				padding: 44px 100px;
				gap: 40px 82px; // вертикальний і горизонтальний відступ між елементами

				.brands_name {
					width: auto;
					max-width: 200px; // можна обмежити розмір
				}

				svg path {
					fill: white; /* Початковий колір заливки */
					transition: fill 0.3s ease-in-out; /* Додаємо плавну анімацію */
				}

				svg:hover path {
					fill: #acacac; /* Колір заливки при наведенні */
				}
			}


		}

		.product-sections {
			padding-top: 192px;

			hr {
				border: none; /* Прибирає стандартну рамку браузера */
				height: 1px; /* Задає товщину лінії */
				background-color: #e0e0e0; /* Задає колір лінії (світло-сірий, як на скріншоті) */
				margin: 64px 100px; /* Задає вертикальні відступи зверху та знизу лінії */
			}

			.new_arrivals {
				.arrivals_title {
					color: #000;
					text-align: center;
					font-family: 'Integral CF', sans-serif;
					font-size: 64px;
					font-style: normal;
					font-weight: 1000;
					line-height: 64px;
					margin-bottom: 55px;
				}

				.arrivals_items_all {
					display: flex;
					gap: 20px;
					padding: 0 100px;

					.arrivals_items {
						width: 25%;
						display: grid !important;

						a {
							display: block; // Якщо треба


							.image {
								width: 100%;
								height: 100%;
								object-fit: cover; // або contain в залежності від бажаного ефекту
								display: block;
								border-radius: 2rem;
							}
						}

						.items_info {
							padding-top: 16px;
							display: grid;
							gap: 8.26px;

							.info_text {
								a {
									color: #000;
									font-family: 'Satoshi', sans-serif;
									font-size: 20px;
									font-style: normal;
									font-weight: 700;
									line-height: normal;
									text-decoration: none;
									transition: color 0.3s ease-in-out;
								}

								a:hover {
									color: #6a6a6a;
								}

							}

							.rating {
								display: flex;
								align-items: center;
								gap: 5.31px;

								.star {
									width: 20px;
									height: 20px;
									color: #facc15; // Яскраво-жовтий (як на скріншоті)

									&.half {
										// Можна додати інші стилі, якщо потрібно відрізняти
									}
								}

								.rating-text {
									color: #000;
									font-family: 'Satoshi', sans-serif;
									font-size: 14px;
									font-style: normal;
									font-weight: 400;
									line-height: normal;
								}
							}

							.info_tax {
								color: #000;
								font-family: 'Satoshi', sans-serif;
								font-size: 24px;
								font-style: normal;
								font-weight: 700;
								line-height: normal;
							}

						}
					}
				}

				.button_view {
					text-align: center;
					padding: 36px 0 0 0;

					.view_all {
						background-color: #ffffff;
						color: #000000;
						padding: 16px 54px;
						border-radius: 62px;
						border: 1px solid rgba(0, 0, 0, 0.10);


						cursor: pointer;
						transition: background-color 0.3s;
						font-family: 'Satoshi', sans-serif;
						font-size: 16px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;

						&:hover {
							background-color: #fafafa;
						}
					}
				}


			}
		}

		.browse_style {
			.browse_banner {
				border-radius: 40px;
				background: #F0F0F0;
				align-items: center;
				text-align: center;
				margin: 70px 100px;
				padding: 70px 65px 75px;

				.browse_banner_title {
					color: #000;
					text-align: center;
					font-family: 'Integral CF', sans-serif;
					font-size: 48px;
					font-style: normal;
					font-weight: 1000;
					line-height: normal;
					padding-bottom: 65px;
				}

				.style-grid {
					display: grid;
					gap: 20px;

					.style-grid_type {
						display: grid;
						grid-template-columns: 1fr 2fr; // тут ми кажемо: 1 частина для першого стовпця, 2 — для другого
						grid-template-rows: repeat(1, 289px);
						grid-gap: 2rem
					}

					.style-grid_type.style-grid_type2 {
						grid-template-columns: 2fr 1fr; // тут ми кажемо: 1 частина для першого стовпця, 2 — для другого

					}


					.style-card {
						position: relative;
						border-radius: 16px;
						overflow: hidden;
						display: flex;
						align-items: flex-start;
						justify-content: flex-start;

						a {
							width: 100%;
							height: 100%;

							img {
								width: 100%;
								height: 100%;
								object-fit: cover; // <<< головне тут
								display: block;
								background-position: 0% 0%;
							}
						}


						span {
							position: absolute;
							top: 3rem;
							left: 3.5rem;
							color: #000;
							font-family: 'Satoshi', sans-serif;
							font-size: 36px;
							font-style: normal;
							font-weight: 700;
							line-height: normal;
						}
					}
				}


			}
		}

		.our_happy {
			.happy_title {
				color: #000;
				font-family: 'Integral CF', sans-serif;
				font-size: 48px;
				font-style: normal;
				font-weight: 1000;
				line-height: normal;
				padding: 0 0 40px 100px;

			}

			.scroll {
				display: flex;
				justify-content: center;
				gap: 20px;
				padding: 0 100px 170px 100px;


				.feedback_block {
					padding: 28px 32px;
					height: auto;
					border-radius: 20px;
					border: 1px solid rgba(0, 0, 0, 0.10);

					.feedback_rating {
						display: flex;
						align-items: center;
						gap: 5.31px;
						margin-bottom: 15px;

						.star {
							width: 20px;
							height: 20px;
							color: #facc15; // Яскраво-жовтий (як на скріншоті)
						}
					}

					.feedback_name {
						color: #000;
						leading-trim: both;
						text-edge: cap;
						font-family: 'Satoshi', sans-serif;
						font-size: 20px;
						font-style: normal;
						font-weight: 700;
						line-height: 22px; /* 110% */
						margin-bottom: 12px;
					}

					.feedback_text {
						color: rgba(0, 0, 0, 0.60);
						font-family: 'Satoshi', sans-serif;
						font-size: 16px;
						font-style: normal;
						font-weight: 400;
						line-height: 22px; /* 137.5% */
					}
				}
			}

		}

	}
}

@media (max-width: 768px) {
	.main_banner {
		background-image: none !important;
		background-color: #F2F0F1 !important;

		.title {
			padding: 40px 59px 0 16px !important;

			.title_text {
				font-size: 36px;
			}

			.sub_title {
				font-size: 14px;
			}
		}

		.stats-section {
			padding: 24px 16px 0 16px !important;
			align-items: center;
			display: grid;

			.shop-now {
				margin-bottom: 20px;
			}

			.stats {
				display: grid !important;
				gap: 14px !important;
				justify-content: center !important;

				.stat-item-block {
					display: flex;
					justify-content: center;
				}
			}
		}

		.media_image {
			width: 100%;
			height: auto; /* Висота під мобільну частину */
			display: block !important;

			img {
				width: 100%;
				height: auto;
				object-fit: cover;
				display: flex;
			}
		}

		.brands_menu {
			gap: 20px 40px;
			padding: 40px 16px !important;
			margin-top: 0 !important;
		}

		.brands_name {
			max-width: 120px;
		}


	}
	.product-sections {
		padding-top: 50px !important;

		.arrivals_title {
			font-size: 32px !important;
			margin-bottom: 32px !important;
		}

		.swiper {
			width: 100%;
			padding: 20px 0;
		}

		.swiper-slide {
			display: flex;
			justify-content: center;

			.info_text {
				a {
					font-size: 16px !important;
				}

			}

			.rating .star {
				width: 15px !important;
				height: 15px !important;
			}

			.rating-text {
				font-size: 12px !important;
			}

			.info_tax {
				font-size: 20px !important;
			}
		}

		.button_view {
			padding: 24px 16px 0 16px !important;

			button {
				width: 100% !important;
			}
		}

		hr {
			margin: 40px 16px !important;
		}
	}
	.browse_style {
		.browse_banner {
			margin: 50px 16px !important;
			padding: 40px 24px 27px 24px !important;

			.browse_banner_title {
				font-size: 32px;
				padding-bottom: 27px !important;
			}

			.style-grid {
				display: grid !important;
				gap: 20px !important;

				.style-grid_type {
					grid-template-columns: 1fr !important;
					grid-template-rows: repeat(2, 310px) !important; /* Створюємо 4 рядки, висота яких автоматично підлаштовується під вміст */
					grid-gap: 20px !important;
				}

				.style-grid_type2 {
					grid-template-columns: 1fr !important;
					grid-template-rows: repeat(2, 310px) !important; /* Створюємо 4 рядки, висота яких автоматично підлаштовується під вміст */
					grid-gap: 20px !important;
				}

			}
		}
	}
	.our_happy {
		.happy_title {
			font-size: 32px !important;
			padding: 0 88px 24px 16px !important;
		}

		.scroll {
			.swiper-wrapper {
				.feedback_block {
					width: 400px !important;
					padding: 24px 24px !important;
				}
			}
		}
	}
}


@media (min-width: 768px) {
	.swiper-wrapper {
		display: flex !important;
		gap: 20px !important;
		flex-wrap: nowrap;
	}
	.swiper-slide {
		width: auto !important;
		flex: 1;
	}
}


@media (max-width: 677px) {
	.scroll {
		padding: 0 100px 180px 100px !important;
	}
}


@media (max-width: 583px) {
	.scroll {
		padding: 0 100px 210px 100px !important;
	}
}


@media (max-width: 472px) {
	.product-sections {
		padding-top: 50px !important;

		.swiper {
			width: 100%;
			padding: 20px 0;
		}

		.swiper-slide {
			display: flex;
			justify-content: center;

			.info_text {
				font-size: 12px !important;
			}

			.rating .star {
				width: 10px !important;
				height: 12px !important;
			}

			.rating-text {
				font-size: 10px !important;
			}

			.info_tax {
				font-size: 14px !important;
			}
		}


	}
}
