.page_5 {
	background: #FFF;


	.about_block {

		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 2px;

		.block{
			.about_title{
				margin-top: 20px;
				margin-left: 30px;
				margin-bottom: 40px;
			}
			.about_product-title{
				color: #000;
				leading-trim: both;
				text-edge: cap;
				font-family: "Universal Sans Display Trial";
				font-size: 14px;
				font-style: normal;
				font-weight: 300;
				line-height: 200%;
			}
			.about_product-title_down{
				margin_top: 20px;

				color: #a7a7a7;
				font-family: "Universal Sans Display Trial";
				font-size: 11px;
				font-style: normal;
				font-weight: 300;
				line-height: 100%;
			}
		}
	}

}


