.product_sections_page {
	background-color: #FFFFFF;

	.container {
		padding: 134px 100px 205px 100px;

		.items_details {
			display: flex;
			gap: 40px;


			.image_details {
				display: flex;
				gap: 14px;
				width: auto;

				.image_details_left {
					display: grid;
					gap: 14px;
					max-width: 152px;

					.small_image_details {
						width: 100%; // адаптивна ширина

						a {
							cursor: pointer;
							display: block;
							width: 100%;
							height: auto;
						}

						img {
							width: 100%; // повністю заповнює контейнер
							height: 100%; // зберігає пропорції
							display: block;
							border-radius: 20px;

						}
					}

					.small_image_details img.active {
						border: 2px solid black;
					}
				}

				.image_details_right {
					flex: 1 1 auto;
					max-width: 444px;

					a {
						cursor: pointer;
						display: block;
						height: 100%;
					}

					img {
						width: 100%;
						height: 100%;
						display: block;
						border-radius: 20px;

					}
				}
			}


			.product_details {
				.items_info {

					.items_title {
						color: #000;
						font-family: 'Integral CF', sans-serif;
						font-size: 40px;
						font-style: normal;
						font-weight: 1000;
						line-height: normal;
						margin-bottom: 14px;
					}

					.rating {
						display: flex;
						align-items: center;
						gap: 5.31px;
						margin-bottom: 14px;

						.rating-text {
							color: #000;
							font-family: 'Satoshi', sans-serif;
							font-size: 36px;
							font-size: 16px;
							font-style: normal;
							font-weight: 400;
							line-height: normal;
						}
					}

					.info_tax {
						color: #000;
						font-family: 'Satoshi', sans-serif;
						font-size: 36px;
						font-size: 32px;
						font-style: normal;
						font-weight: 700;
						line-height: normal;
						margin-bottom: 20px;
					}

					.items_sub_title {
						color: rgba(0, 0, 0, 0.60);
						leading-trim: both;
						text-edge: cap;
						font-family: 'Satoshi', sans-serif;
						font-size: 36px;
						font-size: 16px;
						font-style: normal;
						font-weight: 400;
						line-height: 22px; /* 137.5% */
						margin-bottom: 24px;
					}
				}

				hr {
					border: none;
					height: 1px;
					background-color: #e0e0e0;
					margin: 24px 0;
				}

				.select_color {
					.color_title {
						color: rgba(0, 0, 0, 0.60);
						leading-trim: both;
						text-edge: cap;
						font-family: 'Satoshi', sans-serif;
						font-size: 36px;
						font-size: 16px;
						font-style: normal;
						font-weight: 400;
						line-height: normal;
						margin-bottom: 16px;
					}

					.color_ellipse_block {
						display: flex;
						gap: 16px;

						.color_ellipse {
							position: relative;

							svg {
								cursor: pointer;
								height: 100%	;
							}

							svg circle {
								transition: filter 0.3s ease;
							}

							svg:hover circle {
								filter: brightness(85%);
							}

							.checkmark-icon {
								position: absolute; // Абсолютне позиціонування всередині .color_ellipse
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%); // Центрування
								opacity: 0; // За замовчуванням прихована
								visibility: hidden; // Забезпечує, що вона не взаємодіє з елементами
								transition: opacity 0.3s ease, visibility 0.3s ease; // Плавний перехід
								z-index: 2; // Переконаємось, що галочка знаходиться над колом

							}
							.checkmark-icon.active {
								opacity: 1; // Показати галочку
								visibility: visible; // Зробити її видимою
							}

						}

						.color_ellipse.active svg circle{
							filter: brightness(70%);

						}
					}
				}

				.choose_size {
					.size_title {
						color: rgba(0, 0, 0, 0.60);
						leading-trim: both;
						text-edge: cap;
						font-family: 'Satoshi', sans-serif;
						font-size: 36px;
						font-size: 16px;
						font-style: normal;
						font-weight: 400;
						line-height: normal;
						margin-bottom: 16px;
					}

					.size-selector {
						display: flex;
						gap: 12px;
					}

					.size-button {
						padding: 12px 24px;
						border: none;
						border-radius: 62px; // повністю округлі краї
						background-color: #f1f1f1; // світло-сірий фон
						color: #333;
						color: rgba(0, 0, 0, 0.60);
						font-family: 'Satoshi', sans-serif;
						font-size: 36px;
						font-size: 16px;
						font-style: normal;
						font-weight: 400;
						line-height: normal;
						cursor: pointer;
						transition: background-color 0.2s, color 0.2s;

						&.active {
							background-color: #000; // чорний фон
							color: #fff; // білий текст
						}

						&:hover:not(.active) {
							background-color: #e0e0e0;
						}
					}

				}

				.product-controls {
					display: flex;
					gap: 16px;
					align-items: center;
					font-family: 'Satoshi', sans-serif;
				}

				.quantity-control {
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding: 16px 20px;
					background-color: #f1f1f1;
					border-radius: 62px;
					gap: 16px;
				}

				.qty-btn {
					background: none;
					border: none;
					font-size: 20px;
					cursor: pointer;
					color: #000000;
					padding: 0 4px;
					display: flex;

					svg path {
						fill: #000000;
						transition: fill 0.3s ease-in-out;
					}

					svg:hover path {
						fill: #6a6a6a;
					}
				}

				.qty-value {
					color: #000;
					font-family: 'Satoshi', sans-serif;
					font-size: 16px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
				}

				.add-to-cart {
					flex-grow: 1;
					padding: 16px 54px;
					background-color: #000;
					color: #fff;
					border: none;
					border-radius: 62px;
					font-size: 16px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
					font-family: 'Satoshi', sans-serif;
					cursor: pointer;
					transition: background-color 0.2s;

					&:hover {
						background-color: #222;
					}
				}

			}
		}

		.rating_reviews {
			margin-top: 80px;

			.product_info_menu {
				display: flex;
				justify-content: space-around;
				border-bottom: 1px solid #ccc;
				margin-bottom: 24px;

				.title_menu {
					background: none; /* Прибирає стандартний фон кнопки */
					border: none;
					padding: 0 0 24px 0;
					color: rgba(0, 0, 0, 0.60);
					leading-trim: both;
					text-edge: cap;
					font-family: 'Satoshi', sans-serif;
					font-size: 36px;
					font-size: 20px;
					font-style: normal;
					font-weight: 400;
					line-height: 22px; /* 110% */

					position: relative; /* Необхідно для позиціонування псевдоелемента */
					padding-bottom: 5px;
					transition: color .3s ease-in-out;
					cursor: pointer;
				}

				.title_menu.active:hover {
					color: #6a6a6a;
				}

				.title_menu:hover {
					color: black;
				}

				.title_menu.active {
					color: #000;
					text-align: center;
					leading-trim: both;
					text-edge: cap;
					font-family: 'Satoshi', sans-serif;
					font-size: 36px;
					font-size: 20px;
					font-style: normal;
					font-weight: 500;
					line-height: 22px; /* 110% */
					cursor: pointer;

				}

				.title_menu.active::after {
					content: "";
					position: absolute;
					left: 50%; /* Початкове центрування */
					bottom: 0;
					width: calc(100% + 330px); /* Ширина підкреслення (ширина тексту + 20px) */
					height: 2px;
					background-color: #000;
					transform: translateX(-50%); /* Точне центрування підкреслення */
				}
			}

			.tab_content {
				position: absolute;
				overflow: hidden;
				opacity: 0;
				pointer-events: none;

			}

			.tab_content.active {
				position: relative;
				opacity: 1;
				pointer-events: auto;

			}



			.all_reviews {
				.reviews-header {
					display: flex;
					justify-content: space-between;
					margin-bottom: 32px;

					.reviews_title {
						display: flex;
						gap: 8px;
						align-items: center;

						.title_text {
							color: #000;
							font-family: 'Satoshi', sans-serif;
							font-size: 36px;
							font-size: 24px;
							font-style: normal;
							font-weight: 700;
							line-height: normal;
						}

						.sub_title_text {
							color: rgba(0, 0, 0, 0.60);
							leading-trim: both;
							text-edge: cap;
							font-family: 'Satoshi', sans-serif;
							font-size: 36px;
							font-size: 16px;
							font-style: normal;
							font-weight: 400;
							line-height: 22px; /* 137.5% */
						}

					}

					.review-controls {
						display: flex;
						gap: 12px;
						font-family: 'Satoshi', sans-serif;
						align-items: center;
					}

					.icon-button {
						background-color: #f1f1f1;
						border: none;
						border-radius: 50%;
						width: 48px;
						height: 48px;
						display: flex;
						justify-content: center;
						align-items: center;
						cursor: pointer;

						img {
							width: 20px;
							height: 20px;
						}
					}

					.dropdown-button {
						display: flex;
						align-items: center;
						gap: 8px;
						width: 120px;
						height: 48px;
						padding: 16px 20px;
						background-color: #f1f1f1;
						border: none;
						border-radius: 999px;
						color: #000;
						font-family: 'Satoshi', sans-serif;
						font-size: 16px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
						cursor: pointer;

						img {
							width: 12px;
							height: 12px;
						}
					}

					.write-review-button {
						width: 166px;
						height: 48px;
						//padding: 16px 20px;
						background-color: #000;
						color: #fff;
						border: none;
						border-radius: 999px;
						font-family: 'Satoshi', sans-serif;
						font-size: 16px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
						cursor: pointer;
						transition: background-color 0.2s;

						&:hover {
							background-color: #222;
						}
					}

				}

				.review_scroll {
					display: grid; /* Перетворює контейнер на grid-контейнер */
					grid-template-columns: repeat(3, 1fr); /* Визначає 3 стовпці однакової ширини */
					grid-template-rows: repeat(2, auto); /* Визначає 2 рядки з автоматичною висотою */
					gap: 20px;


					.feedback_block {
						max-width: 610px;
						padding: 28px 32px;
						border-radius: 20px;
						border: 1px solid rgba(0, 0, 0, 0.10);
						display: flex;
						flex-direction: column;

						.feedback_rating_button {
							display: flex;
							justify-content: space-between;
							margin-bottom: 15px;

							.feedback_rating {
								display: flex;
								align-items: center;
								gap: 5.31px;

								.star {
									width: 20px;
									height: 20px;
									color: #facc15; // Яскраво-жовтий (як на скріншоті)
								}
							}

							.svg-button {
								display: flex;
								justify-content: center;
								align-items: center;
								width: 40px; /* Задайте потрібну ширину кнопки */
								height: 40px; /* Задайте потрібну висоту кнопки */
								border: none; /* Прибирає стандартну рамку кнопки */
								background-color: transparent; /* Робить фон прозорим */

								cursor: pointer;
								outline: none;
							}


							.svg-button svg {
								width: 100%; /* Задайте розмір SVG відносно кнопки */
								height: auto;
							}
						}


						.feedback_name {
							color: #000;
							leading-trim: both;
							text-edge: cap;
							font-family: 'Satoshi', sans-serif;
							font-size: 20px;
							font-style: normal;
							font-weight: 700;
							line-height: 22px; /* 110% */
							margin-bottom: 12px;
						}

						.feedback_text {
							color: rgba(0, 0, 0, 0.60);
							font-family: 'Satoshi', sans-serif;
							font-size: 16px;
							font-style: normal;
							font-weight: 400;
							line-height: 22px; /* 137.5% */
							margin-bottom: 24px;
						}

						.posted_block {
							color: rgba(0, 0, 0, 0.60);
							font-family: 'Satoshi', sans-serif;
							font-size: 16px;
							font-size: 16px;
							font-style: normal;
							font-weight: 500;
							line-height: 22px; /* 137.5% */
						}
					}
				}

				.button_reviews {
					text-align: center;
					padding: 36.42px 0 0 0;

					.more_reviews {
						background-color: #ffffff;
						color: #000000;
						padding: 16px 54px;
						border-radius: 62px;
						border: 1px solid rgba(0, 0, 0, 0.10);


						cursor: pointer;
						transition: background-color 0.3s;
						font-family: 'Satoshi', sans-serif;
						font-size: 16px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;

						&:hover {
							background-color: #fafafa;
						}
					}
				}

				.new_arrivals {
					margin-top: 64px;

					.arrivals_title {
						color: #000;
						text-align: center;
						font-family: 'Integral CF', sans-serif;
						font-size: 64px;
						font-style: normal;
						font-weight: 1000;
						line-height: 64px;
						margin-bottom: 55px;
					}

					.arrivals_items_all {
						display: flex;
						gap: 20px;

						.arrivals_items.media {
							display: none;
						}

						.arrivals_items {
							width: 25%;

							a {
								cursor: pointer;

							}

							a {
								display: block; // Якщо треба


								.image {
									width: 100%;
									height: 100%;
									object-fit: cover; // або contain в залежності від бажаного ефекту
									display: block;
									border-radius: 2rem;
								}
							}

							.items_info {
								padding-top: 16px;
								display: grid;
								gap: 8.26px;

								.info_text {
									color: #000;
									font-family: 'Satoshi', sans-serif;
									font-size: 20px;
									font-style: normal;
									font-weight: 700;
									line-height: normal;
									cursor: pointer;
									transition: color .3s ease-in-out;
								}

								.info_text:hover {
									color: #6a6a6a;
								}

								.rating {
									display: flex;
									align-items: center;
									gap: 5.31px;

									.star {
										width: 20px;
										height: 20px;
										color: #facc15; // Яскраво-жовтий (як на скріншоті)

										&.half {
											// Можна додати інші стилі, якщо потрібно відрізняти
										}
									}

									.rating-text {
										color: #000;
										font-family: 'Satoshi', sans-serif;
										font-size: 14px;
										font-style: normal;
										font-weight: 400;
										line-height: normal;
									}
								}

								.info_tax {
									color: #000;
									font-family: 'Satoshi', sans-serif;
									font-size: 24px;
									font-style: normal;
									font-weight: 700;
									line-height: normal;
								}

							}
						}
					}

				}

			}


		}

	}
}


@media (max-width: 768px) {
	.product_sections_page {
		.container {
			padding: 100px 16px 180px 16px;

			.items_details {
				flex-direction: column;
				gap: 20px;

				.image_details {
					flex-direction: column-reverse !important;
					align-items: center;
					gap: 12px !important;

					.image_details_left {
						display: flex !important;
						flex-direction: row;
						gap: 12px;
						justify-content: center;
						max-width: 100%;
					}

					.image_details_right {
						display: block !important;
					}
				}

				.product_details {
					.items_info {
						.items_title {
							font-size: 24px !important;
							margin-bottom: 12px;
						}

						.rating {
							margin-bottom: 12px;

							svg {
								width: 18.668px;
								height: 18.668px;
							}

							.rating-text {
								font-size: 14px;
							}

						}

						.info_tax {
							font-size: 24px;
						}

						.items_sub_title {
							font-size: 14px;
						}
					}

					.select_color {
						.color_title {
							font-size: 14px;
						}

						.color_ellipse {
							svg {
								width: 39.135px;
								height: 39.135px;
							}
							.checkmark-icon{
								height: 50%;
								width: 50%;
							}
						}
					}

					.choose_size {
						.size_title {
							font-size: 14px;
						}

						.size-selector {
							.size-button {
								padding: 10px 20px;
								font-size: 14px;
							}
						}
					}

					.product-controls {
						.quantity-control {
							padding: 12px 16px;

							.qty-btn {
								svg {
									width: 20px;
									height: 20px;
								}

							}

							.qty-value {
								font-size: 14px;
							}
						}

						.add-to-cart {
							padding: 14px 54px;
							font-size: 14px;
						}
					}
				}
			}

			.rating_reviews {
				margin-top: 50px;

				.product_info_menu {
					justify-content: space-between;

					.button_menu {
						.title_menu {
							font-size: 16px !important;
							padding-bottom: 20.5px;
						}

						.title_menu.active::after {
							width: calc(100%);
						}
					}


				}

				.all_reviews {
					.reviews-header {
						margin-bottom: 27px;

						.reviews_title {
							gap: 6px;

							.title_text {
								font-size: 20px;
							}

							.sub_title_text {
								font-size: 14px;
							}
						}

						.review-controls {
							gap: 8px;

							.icon-button {
								width: 40px;
								height: 40px;

								svg {
									width: 20px;
									height: 20px;
								}
							}

							.dropdown-button {
								display: none !important;
							}

							.write-review-button {
								height: 40px;
								font-size: 12px;
							}
						}
					}

					.review_scroll {
						display: flex;
						flex-direction: column;
						gap: 16px;

						.feedback_block {
							padding: 24px 24px;
							max-width: 100%;
						}

						.feedback_block.media {
							display: none;
						}

						.feedback_rating_button {
							margin-bottom: 12px !important;

							.feedback_rating {
								svg {
									width: 19.19px;
									height: 19.19px;
								}
							}

							.svg-button {
								display: none !important;
							}
						}

						.feedback_name {
							margin-bottom: 8px !important;
						}

						.feedback_text {
							margin-bottom: 16px !important;
						}
					}

					.button_reviews {
						padding: 20px 0 0 0;

						.more_reviews {
							font-size: 14px !important;
							padding: 14px 36px;
						}
					}

					.new_arrivals {
						margin-top: 50px;

						.arrivals_title {
							font-size: 32px;
							line-height: 36px;
							margin-bottom: 40px;
						}

						.swiper {
							width: 100%;
							padding: 20px 0;
						}

						.arrivals_items_all {
							.arrivals_items {
								width: 264px !important;

								.info_text {
									font-size: 16px !important;
								}

								.rating {
									svg {
										width: 15.467px !important;
										height: 15.467px !important;
									}

									.rating-text {
										font-size: 12px !important;
									}

								}

								.info_tax {
									font-size: 20px !important;
								}
							}

							.arrivals_items.media {
								display: block;
							}

						}
					}
				}
			}

		}
	}
}

@media (max-width: 677px) {
	.product_sections_page {
		.container {
			padding: 100px 16px 200px 16px !important;
		}
	}
}

@media (max-width: 583px) {
	.product_sections_page {
		.container {
			padding: 100px 16px 220px 16px !important;
		}
	}
}

@media (max-width: 1468px) {
	.image_details_right {
		display: none;
	}
}
