<header class="header">
	<div class="container">
		<div class="header_inner">
			<div class="header_left">
				<div class="burger-menu" onclick="toggleMenu()">
					<div id="bar1" class="bar "></div>
					<div id="bar2" class="bar "></div>
					<div id="bar3" class="bar "></div>
				</div>
				<div class="burger_menu_list">
					<ul class="burger_menu_link">
						<li><a class="burger_menu_link_a" href="#">Shop</a></li>
						<li><a class="burger_menu_link_a" href="#">Collections</a></li>
						<li><a class="burger_menu_link_a" href="#">Explore</a></li>
						<li><a class="burger_menu_link_a" href="#">Search</a></li>
						<li><a class="burger_menu_link_a" href="#">Account</a></li>
					</ul>
					<div class="burger_sub_list">
						<div class="burger-column">
							<h3>Highlights </h3>
							<ul>
								<li><a href="#">New arrivals</a></li>
								<li><a href="#">Best Sellers</a></li>
								<li><a href="#">Gifts</a></li>
								<li><a href="#">Sale</a></li>
							</ul>
						</div>
						<div class="burger-column">
							<h3>Ready-to-wear</h3>
							<ul>
								<li><a href="#">Outerwear</a></li>
								<li><a href="#">Knits & Sweaters</a></li>
								<li><a href="#">Blazers</a></li>
								<li><a href="#">Shirts & Blouses</a></li>
								<li><a href="#">Trousers & Shorts</a></li>
								<li><a href="#">Tops</a></li>
								<li><a href="#">Dresses & Skirts</a></li>
								<li><a href="#">Denim</a></li>
								<li><a href="#">Swim</a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="preview_title_header" onclick="toggleMenu()">
					ELY SHIVA
				</div>
				<nav class="nav">
					<ul class="nav_list">
						<li>
							<a id="shop-link" class="nav_link" onclick="toggleShopMenu()" href="#">Shop</a>
						</li>
						<li>
							<a id="Collections-link" class="nav_link" onclick="toggleCollectionsMenu()" href="#">Collections</a>
						</li>
						<li>
							<a class="nav_link" onclick="toggleShopMenu()" href="#">Explore</a>
						</li>

					</ul>
				</nav>

				<div class="nav_menu_list">
					<div class="nav_sub_list">
						<div class="nav-column">
							<h3>Highlights </h3>
							<ul>
								<li><a href="#">New arrivals</a></li>
								<li><a href="#">Best Sellers</a></li>
								<li><a href="#">Gifts</a></li>
								<li><a href="#">Sale</a></li>
							</ul>
						</div>
						<div class="nav-column">
							<h3>Ready-to-wear</h3>
							<ul>
								<li><a href="#">Outerwear</a></li>
								<li><a href="#">Knits & Sweaters</a></li>
								<li><a href="#">Blazers</a></li>
								<li><a href="#">Shirts & Blouses</a></li>
								<li><a href="#">Trousers & Shorts</a></li>
								<li><a href="#">Tops</a></li>
								<li><a href="#">Dresses & Skirts</a></li>
								<li><a href="#">Denim</a></li>
								<li><a href="#">Swim</a></li>
							</ul>
						</div>
					</div>
				</div>


				<div class="nav_menu_Collections_list">
					<div class="nav_sub_list">
						<div class="nav-column">
							<h3>Highlights </h3>
							<ul>
								<li><a href="#">New arrivals</a></li>
								<li><a href="#">Best Sellers</a></li>
								<li><a href="#">Gifts</a></li>
								<li><a href="#">Sale</a></li>
							</ul>
						</div>
						<div class="nav-column">
							<h3>Collections</h3>
							<ul>
								<li><a href="#">City Summer Edit</a></li>
								<li><a href="#">Spring Summer 25</a></li>
								<li><a href="#">Timeless Luxury Drop</a></li>
								<li><a href="#">Fall Winter 23</a></li>
								<li><a href="#">Spring Summer 24</a></li>
							</ul>
						</div>
					</div>
				</div>


			</div>

			<div class="header_right">
				<nav class="nav">
					<ul class="nav_list">
						<li>
							<a class="nav_link" href="#">Search</a>
						</li>
						<li>
							<a class="nav_link" href="#">Account</a>
						</li>

						<ul class="social">
							<li class="social_item">
								<a class="social_link" href="#" target="_blank">
									<svg class="icon" width="10" height="14" viewBox="0 0 10 14" fill="none"
										 xmlns="http://www.w3.org/2000/svg">
										<path d="M9 0.5H1V12.5L5 9.36957L9 12.5V0.5Z"/>
										<path d="M1 1.5H9"/>
									</svg>
								</a>
								<a class="social_link" href="#" target="_blank">
									<svg class="icon" width="16" height="15" viewBox="0 0 16 15" fill="none"
										 xmlns="http://www.w3.org/2000/svg">
										<path d="M10 7V3C10 1.89543 9.10457 1 8 1V1C6.89543 1 6 1.89543 6 3V7"
											  stroke="white"/>
										<rect x="1" y="4" width="14" height="10" stroke="white"/>
										<path d="M1 5H15" stroke="white"/>
									</svg>
								</a>
							</li>
						</ul>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>
