
<header class="header">
	<div class="container">
		<div class="header_inner">
			<div class="header_left">
				<div class="burger-menu" onclick="toggleMenu()" >
					<div id="bar1" class="bar" onclick="toggleMenu()"></div>
					<div id="bar2" class="bar" onclick="toggleMenu()"></div>
					<div id="bar3" class="bar" onclick="toggleMenu()"></div>
				</div>
				<div class="burger_menu_list">
					<ul class="burger_menu_link">
						<li><a class="burger_menu_link_a" href="#">Shop</a></li>
						<li><a class="burger_menu_link_a" href="#">Collections</a></li>
						<li><a class="burger_menu_link_a" href="#">Explore</a></li>
						<li><a class="burger_menu_link_a" href="#">Search</a></li>
						<li><a class="burger_menu_link_a" href="#">Account</a></li>
					</ul>
				</div>
				<div class="preview_title_header" onclick="toggleMenu()">
					ELY SHIVA
				</div>
				<nav class="nav">
					<ul class="nav_list">
						<li>
							<a class="nav_link" href="">Shop</a>
						</li>
						<li>
							<a class="nav_link" href="#">Collections</a>
						</li>
						<li>
							<a class="nav_link" href="#">Explore</a>
						</li>

					</ul>
				</nav>
			</div>
			<div class="header_right">
				<nav class="nav">
					<ul class="nav_list">
						<li>
							<a class="nav_link" href="#">Search</a>
						</li>
						<li>
							<a class="nav_link" href="#">Account</a>
						</li>

						<ul class="social">
							<li class="social_item">
								<a class="social_link" href="#" target="_blank">
									<svg class="icon" width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M9 0.5H1V12.5L5 9.36957L9 12.5V0.5Z"/>
										<path d="M1 1.5H9" />
									</svg>
								</a>
								<a class="social_link" href="#" target="_blank">
									<svg class="icon" width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M10 7V3C10 1.89543 9.10457 1 8 1V1C6.89543 1 6 1.89543 6 3V7" stroke="white"/>
										<rect x="1" y="4" width="14" height="10" stroke="white"/>
										<path d="M1 5H15" stroke="white"/>
									</svg>
								</a>
							</li>
						</ul>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>
