<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telephone=no">
<meta name="theme-color" content="#fff">
<link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
<link rel="icon" href="img/favicons/favicon.ico" type="image/x-icon">

<link rel="preconnect" href="css/fonts/Universal-Sans.css" crossorigin>
<link rel="preload" as="style" href="css/fonts/Universal-Sans.css">
<link
	rel="stylesheet"
	media="print"
	onload="this.onload=null;this.removeAttribute('media');"
	href="css/fonts/Universal-Sans.css"
>
<link rel="preconnect" href="css/fonts/Items-Demo.css" crossorigin>
<link rel="preload" as="style" href="css/fonts/Items-Demo.css">
<link
	rel="stylesheet"
	media="print"
	onload="this.onload=null;this.removeAttribute('media');"
	href="css/fonts/Items-Demo.css"
>
<link rel="stylesheet" media="all" href="css/libs.css" />
<link rel="stylesheet" media="all" href="css/style.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

<!-- Swiper CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

