<main class="main>">
	<div class="overlay"></div>
	<div class="page_one">
		<div class="page_one-image">
			<div class="image_columns">
				<img class="image" src="/img/sheva.jpg" alt="Ely Sheva">
			</div>
			<div class="preview_all">
				<div class="preview_title">
					ELY SHIVA
				</div>
				<div class="preview_all_down">
					<div class="preview_title_down">
						Discover the Spring Collection. Evoke the captivating beauty of the French Riviera
					</div>
					<div class="button">
						<button class="shop-now-btn">Shop Now</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="white_block_page_1">

	</div>
	<div class="page_two">
		<div class="about">
			<div class="about_preview">
				<div class="about_preview_left">
					<div class="img_columns">
						<img class="image" src="/img/page_two_2.jpg" alt="Ely Sheva">
					</div>
					<div class="container_page_two">
						<div class="about_title">
							New in
						</div>
						<div class="about_text">
							A modern leather jacket crafted for transitional seasons.
						</div>
					</div>
				</div>

				<div class="about_preview_right">
					<div class="img_columns">
						<img class="image" src="/img/page_two_1.jpg" alt="Ely Sheva">
					</div>
					<div class="container_page_two">
						<div class="about_title">
							<div class="title">
								Autumn Winter ‘24
							</div>
						</div>
						<div class="about_text">
							<div class="text">
								An intimate dialogue beteween tailoring and luxury
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="white_block_media">

	</div>

	<div class="page_3">
		<div class="image_columns">
			<div class="image">
				<img class="image" src="/img/page_3.png" alt="Ely Sheva">
			</div>
		</div>
		<div class="about_page3">
			<div class="about_title">
				Leather Essentials
			</div>
			<div class="about_text">
				<div class="about_text_right">
					<h1>Sleek silhouettes meticulously constructed with soft, buttery leather to contour</h1>
					<h1>the body and empower everyday dressing. Each versatile piece exudes an effortless polish that
						only</h1>
					<h1>the finest leather can translate.</h1>
				</div>
				<div class="about_button">
					<div class="button">
						<button class="shop-now-btn_two">Shop Now</button>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="page_4">
		<div class="page_4_image">
			<div class="image_columns">
				<img class="image" src="/img/image_1page4.png" alt="Ely Sheva">
			</div>
			<div class="image_columns">
				<img class="image" src="/img/image_2page4.png" alt="Ely Sheva">
			</div>
			<div class="image_columns">
				<img class="image" src="/img/image_3page4.png" alt="Ely Sheva">
			</div>
		</div>
		<div class="page_4_title">
			<p class="bestsellers-text">Bestsellers</p>
		</div>
	</div>


	<div class="page_5">
		<div class="about_block">
			<div class="block">
				<div class="image_columns">
					<img class="image" src="/img/R1.png" alt="Ely Sheva">
				</div>
				<div class="about_title">
					<h2 class="about_product-title">Frank Jacket in Cotton</h2>
					<p class="about_product-title">$656.00</p>
				</div>
			</div>
			<div class="block">
				<div class="image_columns">
					<img class="image" src="/img/R2.png" alt="Ely Sheva">
				</div>
				<div class="about_title">
					<h2 class="about_product-title">Penna Shirt in Corduroy</h2>
					<p class="about_product-title">$455.00</p>
					<span class="about_product-title_down">New</span>
				</div>
			</div>
			<div class="block">
				<div class="image_columns">
					<img class="image" src="/img/R3.png" alt="Ely Sheva">
				</div>
				<div class="about_title">
					<h2 class="about_product-title">Blaine Top in Cotton</h2>
					<p class="about_product-title">$456.00</p>
				</div>
			</div>
			<div class="block">
				<div class="image_columns">
					<img class="image" src="/img/R4.png" alt="Ely Sheva">
				</div>
				<div class="about_title">
					<h2 class="about_product-title">Burty Jean in Denim</h2>
					<p class="about_product-title">$655.00</p>
					<span class="about_product-title_down">Sold out</span>
				</div>
			</div>
		</div>
	</div>

	<div class="white_block_page_5">

	</div>

</main>
