<div class="page_4">
	<div class="title_collections">
		<div class="sub_title">
			Autumn Winter 24
		</div>
		<div class="sub_text">
			<p>Sleek silhouettes meticulously constructed with soft, buttery leather to contour the body and</p>
			<p>empower everyday dressing. Each versatile piece exudes an effortless polish that only the finest</p>
			<p>leather can translate.</p>
		</div>
	</div>

	<div class="page_4_image">
		<div class="about_preview">
			<div class="image_columns">
				<img class="image" src="/img/image_1page4.png" alt="Ely Sheva">
			</div>
			<div class="about_page4">
				Look 1
			</div>
		</div>
		<div class="about_preview">
			<div class="image_columns">
				<img class="image" src="/img/image_2page4.png" alt="Ely Sheva">
			</div>
			<div class="about_page4">
				Look 2
			</div>
		</div>
		<div class="about_preview">
			<div class="image_columns">
				<img class="image" src="/img/image_3page4.png" alt="Ely Sheva">
			</div>
			<div class="about_page4">
				Look 3
			</div>
		</div>
		<div class="about_preview">
			<div class="image_columns">
				<img class="image" src="/img/image_10.png" alt="Ely Sheva">
			</div>
			<div class="about_page4">
				Look 4
			</div>
		</div>
		<div class="about_preview">
			<div class="image_columns">
				<img class="image" src="/img/image_11.png" alt="Ely Sheva">
			</div>
			<div class="about_page4">
				Look 5
			</div>
		</div>
		<div class="about_preview">
			<div class="image_columns">
				<img class="image" src="/img/image_12.png" alt="Ely Sheva">
			</div>
			<div class="about_page4">
				Look 6
			</div>
		</div>
	</div>

</div>
