<div class="page_two">
	<div class="about">
		<div class="about_preview">
			<div class="about_preview_left">
				<div class="img_columns">
					<img class="image" src="/img/page_two_2.jpg" alt="Ely Sheva">
				</div>
				<div class="container_page_two">
					<div class="about_title">
						New in
					</div>
					<div class="about_text">
						A modern leather jacket crafted for transitional seasons.
					</div>
				</div>
			</div>

			<div class="about_preview_right">
				<div class="img_columns">
					<img class="image" src="/img/page_two_1.jpg" alt="Ely Sheva">
				</div>
				<div class="container_page_two">
					<div class="about_title">
						<div class="title">
							Autumn Winter ‘24
						</div>
					</div>
					<div class="about_text">
						<div class="text">
							An intimate dialogue beteween tailoring and luxury
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
